# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de dependências
node_modules/
*.log
*.tmp

# Ignorar pastas de build
target/
dist/

# Ignorar arquivos de configuração do IDE
.vscode/
.idea/
