* {
    font-family: 'Gill Sans', sans-serif;
    
}

body {
    background-image: url(image5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-app {
    color: #605678;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 80px;
    /* Add space between buttons */
    position: absolute;
    top: 800px;
    /* You can adjust this value to position the content in percentage */
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 10px 20px;
    /* Adjust the button's size */
    width:300px;
    height: 60px;
    border-radius: 50px;
    /* Round the corners of the button */
    border: none;
    /* Remove default border */
    background-color: #605678;
    color: rgb(223, 221, 187);
    cursor: pointer;
    font-size: 26px !important;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    max-width: 50%;
    /* Adjust the width percentage */
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    font-size: 24px;
    color: white;
    top: 400px;
    /* Adjust this value to position the content in percentage */
    left: 50%;
    /* Centers horizontally */
    transform: translateX(-50%);
    /* Adjusts for actual centering */
    box-sizing: border-box;
}

header {
    padding-left: 3%;
    padding-right: 3%;
}

.nav-pills {
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #4385a2;
    /* Darker background color on hover */
}

button:focus {
    outline: none;
    /* Removes focus outline */
}

a {
    text-decoration: none;
    /* Remove underline from links */
}

/* Custom Nav Pills color */
.nav-pills .nav-link {
    top:10px;
    color: #605678;
    /* Custom color for the nav links */
}
.container {
    height: 100px;
}
nav {
    top: 20px;
    z-index: 10; /* Ensure it stays on top of other elements */
    padding: 10px; /* Adjust as needed */
}
